.login {
  width: 100vw;
  height: 100vh;
  background-color: #0f1112;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
  color: #fff;
}

.loginBox {
  height: 400px;
  padding: 20px;
  background-color: #0f1112;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ffa31a;
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #ffa31a;
  color: black;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginForgot {
  text-align: center;
  color: #ffa31a;
}

.loginRegisterButton {
  /* width: 60%; */
  align-self: center;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
